@media (max-width: 576px) {
  .custom-box {
    background-color: red;
  }
  .display-none{
    display: none;
  }
  .display-hamburger{
    display: unset;
}
}

@media (min-width: 576px){
  .display-hamburger{
    display: none;
  }
}