.why {
  display: grid;
  grid-template-columns: 380px 1fr 1fr;
  gap: 0;

  grid-template-areas:
    "premium mobile mobile"
    "premium global global"
    "exclusive exclusive rich";
}

.premium   { grid-area: premium; }
.mobile    { grid-area: mobile; }
.global    { grid-area: global; }
.exclusive { grid-area: exclusive; }
.rich      { grid-area: rich; }


@media (max-width: 576px) {
  .custom-box {
    background-color: red;
  }
  .display-none{
    display: none;
  }
  .display-hamburger{
    display: unset;
}
.circle-size{
  width: 10rem;
  height: 10rem;
  transform: translateX(5rem) translateY(7rem);
}
.mic-size{
  width: 10%;
  height: auto;
  object-fit: contain;
  transform: translateX(2.5rem) translateY(5.5rem); 
}
.new{
  top: 7%;
  left: 57%;
}
.techwave{
  position: absolute;
  top:205%;
  font-size: x-large;
}
.dailydose{
  position: absolute;
  top:260%;
  font-size: small;
}
.spotify-subscribe{
  position: relative;
  top: 150px;
}
.spotify{
  font-size: small;
}
.about-part{
  top: -50px;
}
.grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding-left: 10%;
  grid-row-gap: 20px;
}




}

@media (min-width: 576px){
  .display-hamburger{
    display: none;
  }
}

